<h2 mat-dialog-title style="color: #284B63;">Add composite task</h2>

<mat-dialog-content class="dialog-content">

  <!-- Si une tâche composite existe déjà, afficher le message -->
  <!-- <div *ngIf="hasNestedCompositeTask; else formContent" style="text-align: center;">
    <img 
      src="assets/css/danger.png" 
      alt="Warning" 
      width="32" 
      height="32" 
      style="display: block; margin: 0 auto 5px;">
    <p style="color: red; font-weight: normal;">
      You cannot add a composite task that contains another composite task.
    </p>
  </div> -->
  
  


  <!-- Sinon, afficher le formulaire -->
  <!-- <ng-template #formContent> -->
    <mat-form-field appearance="outline">
        <label>Task title</label>
        <input matInput [(ngModel)]="taskTitle" class="custom-input">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <label>Description</label>
        <input matInput [(ngModel)]="description" class="custom-input">
    </mat-form-field>

    <input type="file" (change)="onFileSelected($event)" accept="image/*" #fileInput hidden>
    <button mat-raised-button (click)="fileInput.click()">Choose File</button>

    <div *ngIf="imagePreview">
      <img [src]="imagePreview" class="preview-img" alt="Aperçu de l'image">
      <p>{{ filePath }}</p>
    </div>
  <!-- </ng-template> -->

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button class="button-close" (click)="onCancel()">Close</button>
  <button mat-button class="button-add" (click)="onSave()" >Add</button>
</mat-dialog-actions>
