<!-- 
<h2 mat-dialog-title style="color: #284B63;">Devices List</h2>

<mat-dialog-content class="dialog-content">
  <div class="phone-item">
    <img src="../../../assets/css/note10.png" class="phone-image" alt="iPhone 13">
    <span class="phone-name">Samsung Galaxy Note 10 </span>
    <button class="delete-button">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="phone-item">
    <img src="../../../assets/css/note20.png" class="phone-image" alt="Samsung Galaxy S22">
    <span class="phone-name">Samsung Galaxy Note 20</span>
    <button class="delete-button">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="phone-item">
    <img src="../../../assets/css/s24ultra2.png" class="phone-image" alt="Google Pixel 7">
    <span class="phone-name">Samsung Galaxy S 25 ultra</span>
    <button class="delete-button">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="phone-item">
    <img src="../../../assets/css/s24ultra.png" class="phone-image" alt="Google Pixel 7">
    <span class="phone-name">Samsung Galaxy S 24 ultra</span>
    <button class="delete-button">
      <mat-icon>delete</mat-icon>
    </button>
  </div>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button class="button-close" (click)="onCancel()">Close</button>
</mat-dialog-actions> -->


<h2 mat-dialog-title style="color: #284B63;">Devices List</h2>

<mat-dialog-content class="dialog-content">
  <div *ngFor="let device of devices; let i = index" class="phone-item">
    <img [src]="device.icon" class="phone-image" alt="{{ device.name }}">
    <span class="phone-name">{{ device.name }}</span>
    <button class="delete-button" (click)="removeDevice(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button class="button-close" (click)="onCancel()">Close</button>
</mat-dialog-actions>
