/* .sampleWrapper {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 1280px) {
    .sampleWrapper {
      flex-direction: row;
    }
    .sampleWrapper > div:first-child {
      margin-right: 0.5rem;
      margin-bottom: 0;
    }
  }
   */


  

