<div class="toolbar">
  <div class="icon-container" (click)="togglefile()" [class.active]="fileOpen">
    <img src="../../../assets/css/android.png" alt="Icon" class="toolbar-icon-phone"/>
    <div *ngIf="fileOpen" class="icon-menu">
      <button mat-button (click)="openNewDeviceModal()">Add a device</button>
      <button  mat-button (click)="openDeviceListModal()">Show devices</button>
    </div>
  </div>

  <div class="spacer"></div>
  <div class="buttons">
    <button mat-button  class="button-start" (click)="openStartModal()" >Start</button>
    <!-- (click)="startDiagram()" -->
    <!-- <button mat-button class="button-task">Task +</button> -->
    <button mat-button class="button-task" (click)="openTaskModal()">Task +</button>

  </div>

  <div class="icon-container" (click)="toggleShare()" [class.active]="shareOpen">
    <img src="../../../assets/css/share.png" alt="Icon" class="toolbar-icon-share"/>
    <div *ngIf="shareOpen" class="icon-menu" style="position: absolute;left: -90px; width: 135px;" >
      <button mat-button>Print diagram</button>
      <button mat-button>Export diagram</button>
      <button mat-button>Save diagram</button>
    </div>
  </div>
</div>

  