.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #374151; */
    background-color: #284B63;
    
    padding: 10px 20px;
    padding-top: 15px;
    color: white;
    z-index: 150;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  /* .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
   */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  