<h2 mat-dialog-title style="color: #284B63;">Devices List</h2>

<mat-dialog-content class="dialog-content">
  <div class="phone-item">
    <img src="../../../assets/css/note10.png" class="phone-image" alt="iPhone 13">
    <span class="phone-name">Samsung Galaxy Note 10</span>
    <input type="checkbox" class="custom-checkbox">
  </div>

  <div class="phone-item">
    <img src="../../../assets/css/note20.png" class="phone-image" alt="Samsung Galaxy S22">
    <span class="phone-name">Samsung Galaxy Note 20</span>
    <input type="checkbox" class="custom-checkbox">
  </div>

  <div class="phone-item">
    <img src="../../../assets/css/s24ultra2.png" class="phone-image" alt="Google Pixel 7">
    <span class="phone-name">Samsung Galaxy S 25 ultra</span>
    <input type="checkbox" class="custom-checkbox">
  </div>

  <div class="phone-item">
    <img src="../../../assets/css/s24ultra.png" class="phone-image" alt="Google Pixel 7">
    <span class="phone-name">Samsung Galaxy S 24 ultra</span>
    <input type="checkbox" class="custom-checkbox">
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button class="button-close" (click)="onCancel()">Close</button>
  <button mat-button class="button-start" (click)="startDiagram()">Start</button>
  <!-- (click)="startDiagram()" -->
</mat-dialog-actions>
